@model IEnumerable<Rocky.Models.Product>

<div class="container p-3">
  <div class="row pt-4">
    <div class="col-6">
      <h2 class="text-primary">Product List</h2>
    </div>
    <div class="col-6 text-right">
      <a asp-action="Create" asp-controller="Product" asp-area="" 
      class="btn btn-primary">Create product</a>
    </div>
  </div>
</div>

@if(Model != null && Model.Count() > 0){
  <table class="table table-bordered table-striped w-100">
    <thead>
      <tr>
        <th>Product Name</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td class="w-100">@item.Name</td>
        </tr>
      }
    </tbody>
  </table>
}
else{
  <p>No product exists.</p>
}